*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    background-image: linear-gradient(to right bottom, #257389, #078496, #00959e, #00a6a2, #00b7a2, #00b9b2, #00bac0, #00bacc, #00a8ec, #0090ff, #006bff, #6600ff);
    background-repeat: no-repeat;
    height: 100%;
    font-size: 16px;
    font-family: 'Roboto Slab', serif;
    overflow-x: hidden;
}

ul, li {
    list-style-type: none;
}
a {
    text-decoration: none;
}

.nav-link{
    color: #ffff !important;
    background-color: $primary;
}

.border {
    border: 2px solid red;
}

.inline-block {
    display: inline-block;
}

.hidden {
    display: none;
}