.index-body{
    background-image: url('../assets/svg/background-index.svg');
    position: fixed;
    width: 100%;
    height: 100%;
    background-position: center;

    .nav-link{
        color: #ffff !important;
        background-color: $primary;
    }
}