.login-body {
    .container-fluid{
        height: 100%;
        align-content: center;
        background-color: #ffffff10;
        backdrop-filter: blur(12px);
        -webkit-backdrop-filter: blur(12px);
    }
    
    .navbar-title{
        background: linear-gradient(180deg, $primary, #cd74ee);
        font-size: 1.4rem;
        font-weight: bold;
        -webkit-text-fill-color: transparent;
        -webkit-background-clip: text;
        background-clip: text;
    }

    .card{
        height: 410px;
        margin: auto;
        width: 400px;
        background-color: rgba(0,0,0,0.5);

        &-header h3{
            color: white;
        }
    }
    
    .input-group span{
        width: 50px;
        background-color: #43e995;
        color: black;
        border:0 !important;
    }
    
    .remember{
        color: white;
    
        & input{
            width: 30px;
            height: 20px;
            margin-left: 8px;
            margin-right: 5px
        }
    }
    
    .login_btn{
        color: black;
        background-color: #43e995;
        width: 100px;
    
        &:hover{
            color: black;
            background-color: white;
        }
    }

    .nav-link{
        color: #ffff;
        background-color: $primary;
    }
    
    .link{
        color: $secondary;
    
        &:hover{
            color: #fbf2ff;
        }
    }

    .modal-title{
        @include media-breakpoint-down(sm) {
            font-size: .9rem;
        }
        font-size: 1.4rem;
        letter-spacing: .1rem;
        font-weight: bold;
        color: $secondary;
    }
}